/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {} 


/* ================================== */
/* ================================== */
/* General rules */
/* ================================== */
/* ================================== */

@font-face { 
    font-family:'Raleway-Regular';
    src: url('assets/fonts/raleway/Raleway-Regular.ttf') format('ttf');
    src: url('assets/fonts/raleway/Raleway-Regular.eot') format('eot');
    src: url('assets/fonts/raleway/Raleway-Regular.woff') format('woff');
}
@font-face { 
    font-family:'Raleway-Bold';
    src: url('assets/fonts/raleway/Raleway-Bold.ttf') format('ttf');
    src: url('assets/fonts/raleway/Raleway-Bold.eot') format('eot');
    src: url('assets/fonts/raleway/Raleway-Bold.woff') format('woff');
}
@font-face { 
    font-family:'Raleway-SemiBold';
    src: url('assets/fonts/raleway/Raleway-SemiBold.ttf') format('ttf');
    src: url('assets/fonts/raleway/Raleway-SemiBold.eot') format('eot');
    src: url('assets/fonts/raleway/Raleway-SemiBold.woff') format('woff');
}
@font-face { 
    font-family:'Raleway-Light';
    src: url('assets/fonts/raleway/Raleway-Light.ttf') format('ttf');
    src: url('assets/fonts/raleway/Raleway-Light.eot') format('eot');
    src: url('assets/fonts/raleway/Raleway-Light.woff') format('woff');
}


* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;

    scroll-behavior: smooth;
}

html {
    font-size: 14px;
    text-rendering: optimizeLegibility;
}
body { 
    margin: auto;
    background-color: #fff;
    font-family:'Raleway-Regular', Arial, Helvetica, sans-serif;
}

h1 { font-size: 1.5em;}
h2 { font-size: 1.4em;}
h3 { font-size: 1.3em; }
h4 { font-size: 1.1em; font-family:'Raleway-Bold', Arial, Helvetica, sans-serif;}
h5 { font-size: 1em; font-family:'Raleway-Bold', Arial, Helvetica, sans-serif;}
p  { font-size: 1em; }

ul { margin: 0; padding: 0;}
ul li { list-style: none; }

a {  text-decoration: none; color: #000000; }

.light { font-family:'Raleway-Light', Arial, Helvetica, sans-serif; }
.bold { font-family:'Raleway-Bold', Arial, Helvetica, sans-serif; }
.semiBold {font-family:'Raleway-SemiBold', Arial, Helvetica, sans-serif; }

.grey-bg { background-color: #F2F2F2;}
.blue { color:  #0065FC; }
.light-blue { color: #DEEBFF; }

input { border: transparent; }

.card { box-shadow: 0px 5px 15px #cacaca;}
.card:hover { 
    box-shadow: 5px 10px 18px #888888; }

.img-responsive {
    max-width: 100%;
    display: block;
    height: auto;
}

/* ================================== */
/* MAIN CONTENT OUTER MARGINS */
/* ================================== */

.motto,
.filters,
.search-info,
.footer-list-container { 
    width: 90%;
    margin: auto;
}


/* portrait xs mobile */
@media screen and (max-width: 360px) {
    .search-bar-container { margin-left: 5%; }
    .search-bar { width:  260px; }
}
/* Extra small devices only (phones, 600px and down) */
@media screen and (min-width: 361px) and (max-width: 600px) {
    .search-bar-container { margin-left: 5%; }
    .search-bar { width:  330px; }
}

/* Small devices only */
@media screen and (min-width: 601px) and (max-width: 767px) {
    .search-bar-container { margin-left: 5%; }
    .search-bar { margin: 3% 0; width: 330px; }
}

/* Up to medium screens (landscape tablets) */
@media screen and (max-width: 768px) {
    .popular,
    .housing,
    .activities { 
        width: 90%;
        margin: auto;
    }
}

/* Medium devices and up (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
    .search-bar-container,
    .main-content-wrapper {
        width: 90%;
        margin: auto;
    }
    .search-bar { margin: 3% 0; width: 410px; }
}


/* ================================== */
/* MAIN INNER CONTENT MARGINS & PADDINGS */
/* ================================== */

.header-wrapper { padding-bottom: 2%; }

/* SECTIONS  */
/* sections title */
.section-header { 
    height: 30px;
    margin-top: 0;
    margin-bottom: 20px;
}
.section-header h2 { margin-top: 0;}

/* Extra small devices only (phones, 600px and down) */
@media screen and (max-width: 600px) {
    section { 
        padding-top: 35px;
        padding-bottom: 25px;
    }
    /*  cards  */
    .housing-card,
    .pop-card { margin: 10px 0; }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) {   
    section { padding-top: 40px; }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) {    
    section.housing, section.popular { 
        padding: 40px; 
    }
    /*  cards  */
    .housing .card { margin-right:30px; margin-bottom:30px;}
    .housing h5 { height:30px; }
    
}

.activities { padding-bottom: 5%; }


/* ================================== */
/* ================================== */
/*     HEADER     */
/* ================================== */
/* ================================== */

.header-top .top-nav { 
    display:flex;
    flex-flow: row wrap;
}

/* logo */
.top-logo a { 
    display: block;
    min-width: 60px; 
    max-width: 100px; 
} 
/* subscribe */
.subscribe { text-align: right; }
/* hebergements */
.housing-nav { text-align: center;}
/* activités */
.activities-nav { text-align: center;}

.active p, .subscribe p { color: #0065FC; }


/* mobile + portrait tablet  : nav elements = on 2 rows and margin only on first row */
@media screen and (max-width: 992px) {
    .header-top { 
        height: 155px;
        margin-top: 25px;
        margin-bottom: 30px;
    }
    .top-logo, .subscribe { margin-bottom: 20px; }

    /* .top-logo &  .subscribe */
    .top-nav div:nth-of-type(1) { flex-basis: 45%; margin-left: 5%; }
    .top-nav div:nth-of-type(2) { flex-basis: 45%; margin-right: 5%; }

    /*  .housing-nav &  .activities-nav */
    .top-nav div:nth-of-type(3),
    .top-nav div:nth-of-type(4) { flex-basis: 50%; }

    /* .nav-item .housing-nav .active */
    .top-nav div:nth-of-type(3).active { border-bottom: 3px solid blue; }
    /* .nav-item .activities-nav*/
    .top-nav div:nth-of-type(4) { border-bottom: 3px solid grey; }
}

/* landscape tablet & up  : all 4 top elements = on the same row */
@media screen and (min-width: 993px) {

    .header-top { height: 80px; margin-bottom: 40px;}
    .header-top .top-nav { 
        margin: 0 5%;      /* force side margins on top row */
        line-height: 60px; /* distance from page top */
    }
    .top-logo a { margin-top: 25px; }  /* distance from page top */    
    .top-nav div { 
        flex-basis: 5%;  /* elements min-width on the row*/
        border-top: 3px solid transparent;
    }
    
    /* elements width repartition  + re-order */
    /* .top-logo  */
    .top-nav div:nth-of-type(1) { flex-grow: 15; }
    /* .subscribe */
    .top-nav div:nth-of-type(2) { flex-grow: 1; order:4; }
    /*  .housing-nav */
    .top-nav div:nth-of-type(3) { flex-grow: 2; }
    /*  .activities-nav */
    .top-nav div:nth-of-type(4) { flex-grow: 2; }

    /* .housing-nav .active */
    .top-nav div:nth-of-type(3).active { border-top: 3px solid blue; }
}

/* ================================== */
/* --- motto --- */
/* ================================== */
.motto h1 { margin-bottom: 0; }
.motto h4 { margin-top: 8px; }


/* ================================== */
/* --- search-bar --- */
/* ================================== */
.search-bar {
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
}

.input-container { width: 230px; }
.input-container input { height:100%; width:100%;}
.input-container > input[placeholder]{ 
    font-size: 15px;
    font-weight:600;
    padding-left: 15px;
}

.searchBar-icon { 
  /* center icon inside its container */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.searchBar-icon.loc { 
    width: 50px;
    background-color:#F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.searchBar-icon.magnifier { background-color: #0065FC; border-radius: 15px;}

/* search bar icons */
.fas { font-size: 18px;}
.magnifier a > .fas, .search-word  { color: #fff; }

.search-info { 
    height: 35px;
    display: flex;
    flex-flow: row nowrap;
    margin: 20px auto;
}

.search-info p { margin: 0 10px; }


/* Extra small devices only (phones, 600px and down) */
@media screen and (max-width: 600px) {
    /* .searchBar-container { width: 90%; margin:auto; } */
    .search-word { display: none; }
    .searchBar-icon.magnifier { width: 50px; }
    /* 'rechercher' = invisible on mobile */
    .search-word { display: none; }
}


/* all screens except small  */
@media screen and (min-width: 601px) {
    .searchBar-icon.magnifier { width: 130px; }
     /* magnifier icon = invisible */
    .d-invisible { display: none !important; }
    .searchBar-icon.magnifier { 
        border-top-left-radius: unset;
        border-bottom-left-radius: unset; }
}


/* ================================== */
/* -- filters : toggle-switch BTNS --- */
/* ================================== */
/* ================================== */

.filters { margin: 25px auto; }
.filters, .filters-container {
    display: flex;
    flex-flow: row wrap;
}
.filters-container { width:100%; }

.slider-container { 
    display: inline-block;
    margin-right: 2%;
}

/* up to medium screens : filters title sits on one line */
@media screen and (max-width: 992px) {
    .filters-container > p { width: 100%;}
    .slider-container { padding-right: 2%; margin-bottom: 2%;}
}

/* large screens & up (laptops/desktops): filters title sits on same line as filters */
@media screen and (min-width: 992px) {
    .filters-container > p { width: 100px;}
}



/* toggle-switch container (= <label> ) */
/* ================================== */
.switch {
    position: relative;
    display: inline-block;
    height: 50px; 
}
/* hide & move original checkbox */
.switch input {
    display: none;
}
input[type="checkbox"] {
    box-sizing: border-box;
    margin: 3px 0 0;
}

/* round inner btn */
/* ================================== */
.slider.round::before {
    border-radius: 50%;
}
.slider.round {
    border-radius: 34px;
}
.slider::before {
    position: absolute;
    height: 48px;
    width: 48px;
    background-color: #DEEBFF;

    /* icon inside btn */
    font-family: "FontAwesome";
    content: "\f53a";
    color:#0065FC;
    font-size: larger;

    /* center icon inside */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    /* smooth btn transition */
    -webkit-transition: .4s;
    transition: .4s;
}

/* filters icons */
/* ============= */
.slider.family::before {
    content: "\f1ae";
}
.slider.heart::before {
    content: "\f004";
}
.slider.dog::before {
    content: "\f6d3";
}

/* Span element */
/* =============*/
.slider {
    height: 50px;

    display: inline-block;
    cursor: pointer;
    background-color:#FFFF;
    border: 2px solid lightgrey;

    -webkit-transition: .4s;
    -moz-transition: .4s;
    transition: .4s;
}

.slider strong {
    height: 50px;
    display: block; 
    font-weight: 400;
    text-align: center;
    margin-left: 60px;
    margin-right: 15px;  
    margin-top: 15px;

}

/* effect on hover */
.slider:hover { box-shadow: 5px 10px 18px #888888;}


/* anim inner btn slide */ /* needs fixing  */
/* ==================== */
/* input:checked+.slider::before {
    -webkit-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
}

input:checked+.slider { 
    background-color: #DEEBFF;
    border: 1px solid #0065FC;
    color: red;
}
input:checked+.slider p { text-align: left;} */


/* ================================== */
/* ================================== */
/* SECTION 1  most popular */
/* ================================== */
/* ================================== */


/* ================================== */
/* SECTION1 + SECTION2 WRAPPER DESKTOP */
/* ================================== */
/* Up to large screens : section 1+2 = above each other */
/* Extra large screens  : section 1+2 = side by side */


/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) {
    .popular-wrapper { background-color: #F2F2F2; border-radius:15px; }
}


/* Medium + large devices  */
@media screen and (min-width: 600px) and (max-width: 1200px) {
    .pop-cards-wrapper { 
        display: flex;
        flex-flow: row nowrap;
    }
    .pop-card { width: 90%; margin: 4% 1%;}
    .pop-card .card-title h4 { margin: 0; }
    .housing-cards-wrapper { 
        margin: 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        height: 100%;
    }
    /* housing cards width to fit into rows of 2 elements */
    .housing-card { width: 45%; margin-bottom: 3%; }
}


/* Extra large screens  : section 1+2 = side by side */
@media screen and (min-width: 1200px) {
    .sections-wrapper {
        height: 625px;
        display: flex;
        flex-flow: row-reverse nowrap;
    }

    .popular-wrapper { 
        width: 30%;
        margin-left: 3%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        border-radius:15px;
    }
    .pop-cards-wrapper { 
        margin: 0;
        display: flex;
        flex-flow: column wrap;
    }
    .pop-card { margin-bottom: 30px; }

    .housing-cards-wrapper { 
        margin: 0;
        display: flex;
        flex-flow: row wrap;
        height: 85%;
        width: 100%;
        align-content: space-between;
        justify-content: space-between;
    }
    .housing-card { flex-basis: 30%;}
    .housing .card { margin-right: 0; }
    .housing { width: 70%; background-color: #F2F2F2; border-radius:15px;}

}

/* Extra small devices only (phones, 600px and down) */
@media screen and (max-width: 600px) {
    .pop-card { width: 100%; margin: 3% 0;}
}

/* align icon with title */
.pop-header i { float: right; } /* to replace by '::before:content' ? (=> SEO ?)  */

.pop-card {
    height: 140px;
    display: flex;
    flex-flow: row nowrap;
    border: 5px solid #fff;
    border-radius:25px;
    position: relative;
}
.pop-card figure { 
    width: 40%;
    height:130px;
    position: absolute;
    float: left;
    padding-right: 15px;
    padding-left: 15px;
    overflow: hidden;
    padding: 0 !important;
    margin: 0 !important;
}

.pop-card figure img {  
    min-width:100%;
    max-height:100%; 
    display: block;
    object-fit: cover;
/*     object-position: top; */
    border-radius: 20px 0 0 20px;
}

.pop-card-text {
    height: 130px;
    width: 60%;
    position: absolute;
    right: 0;
    padding-left: 4%;
    background-color: #fff;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.card-title h4 { 
    margin-bottom: 0;
    padding-right: 15%;
    margin-top: 10px;
}
.card-title p { margin-top: 2%;}

.pop-card-text .star-rating { 
    position: absolute;
    bottom: 5px;
}
.fa { font-size: 12px; color:#F2F2F2;}
.fa.checked{ font-weight: 900;color:#0065FC;}



/* ================================== */
/* ================================== */
/* SECTION 2  housing  */
/* ================================== */
/* ================================== */

.housing-card {
    height: 200px; 
    max-width: 100%;
    border: 5px solid #fff;
    border-radius:25px;
}

/* img container (figure) */
.housing-pic { 
    height: 120px;
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden;
}

.housing-pic img {
    min-width:100%;
    max-height:100%; 
    display: block;
    object-fit: cover;
    object-position: top;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.housing-card-text {
    height: 70px;
    padding: 3%;
    background-color: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}

.housing-card-text h4, .housing-card-text p {
    margin: 0;
    padding: 0;
}

.housing-card .star-rating { 
    position: relative;
    bottom: 0;
}


/* ================================== */
/* ================================== */
/* SECTION 3  activities */
/* ================================== */
/* ================================== */

.activity-card { border-radius: 25px;}
.activity-card figure { 
    position:relative;
    border-radius:25px;
    width: 100%;
    margin: 0;
}
.activity-card a { 
    display: block;
    position: relative;
    border-radius:25px;
}
.activity-card figure img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.activity-card figure figcaption { margin: 3%; position: absolute;}


/* Extra small devices only (phones, 600px and down) */
@media screen and (max-width: 600px) {
    .activity-card  { height: 190px;  margin: 3% 0; }
    .activity-card figure img {  
        height:135px;
        width:100%;
        display: block;
        object-fit: cover;
        overflow: hidden;
    }
    .activity-card figure figcaption { margin: 5%; position: absolute;}
}


/*  medium screens only */
@media screen and (min-width: 600px) and (max-width:991px ) {
    .second-group { flex-flow: column wrap-reverse; }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px)  {

    .pic-group { 
        height: 445px;
        margin-bottom: 5%;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: stretch;
        align-content: space-between;
    }
    
    .activities-cards-wrapper div.activity-card:nth-of-type(1),
    .activities-cards-wrapper div.activity-card:nth-of-type(4) { height: 100%; }
    .activities-cards-wrapper div.activity-card:nth-of-type(2) { height: 235px; }
    .activities-cards-wrapper div.activity-card:nth-of-type(3) { height: 165px; }
    .activities-cards-wrapper div.activity-card:nth-of-type(5) { height: 195px; }


    .activity-card a,
    .activity-card figure { height:100%;}

    .activity-card { 
        width: 47%;
        display: inline-block;
        margin:0; 
        overflow: hidden;
    }
    .activity-card figure img {
        width:100%;
        height:100%;
        object-fit: cover;
        display: block;
        overflow: hidden;
    }
    .activity-card figure figcaption { 
        width: 100%;
        height: 50px;
        position: absolute;
        display: block;
        margin: 0;
        bottom: 0;
        padding: 5%;
        background-color: #fff;
    }  
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    .activities-cards-wrapper { 
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
    }
    .activity-card { margin-right: 40px; }

    .pic-group { width: 50%; }
    
    .first-group { margin: 0 45px 50px 0; }
    
}


/* ================================== */
/* ================================== */
/* ---- FOOTER --- */
/* ================================== */
/* ================================== */

.footer-list-container { 
    display: flex;
    padding-bottom: 50px;
    padding-top: 20px;
}
.footer-list ul li { padding: 1% 0;}

/* Extra small devices only (phones, 600px and down) */
@media screen and (max-width: 600px) {
    .footer-list-container {
        flex-direction: column;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) {
    .footer-list-container {
        flex-direction: row;
        justify-content: space-between;
    }
    .footer-list { width: 30%;}
}


/* =========== end ============== */
/* ================================== */

