

/* adapt to mobile screens */
@media screen and (max-width: 576px) {}
/*  adapt to medium screens */
@media screen and (min-width: 576px) and (max-width: 920px) {}
/* adapt to desktop screens */
@media screen and (min-width: 920px) {}

* {
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
}

/* ================================== */
/* ================================== */
/* General rules */
/* ================================== */
/* ================================== */

@font-face { 
    font-family:'Raleway-Regular';
    src: url('assets/fonts/raleway/Raleway-Regular.ttf') format('ttf');
    src: url('assets/fonts/raleway/Raleway-Regular.eot') format('eot');
    src: url('assets/fonts/raleway/Raleway-Regular.woff') format('woff');
}
@font-face { 
    font-family:'Raleway-Bold';
    src: url('assets/fonts/raleway/Raleway-Bold.ttf') format('ttf');
    src: url('assets/fonts/raleway/Raleway-Bold.eot') format('eot');
    src: url('assets/fonts/raleway/Raleway-Bold.woff') format('woff');
}
@font-face { 
    font-family:'Raleway-SemiBold';
    src: url('assets/fonts/raleway/Raleway-SemiBold.ttf') format('ttf');
    src: url('assets/fonts/raleway/Raleway-SemiBold.eot') format('eot');
    src: url('assets/fonts/raleway/Raleway-SemiBold.woff') format('woff');
}
@font-face { 
    font-family:'Raleway-Light';
    src: url('assets/fonts/raleway/Raleway-Light.ttf') format('ttf');
    src: url('assets/fonts/raleway/Raleway-Light.eot') format('eot');
    src: url('assets/fonts/raleway/Raleway-Light.woff') format('woff');
}


* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
html {
    font-size: 14px;
    text-rendering: optimizeLegibility;
}
body { 
    margin: 0;
    background-color: #fff;
    font-family:'Raleway-Regular', Arial, Helvetica, sans-serif;
}

h1 { font-size: 1.5em;}
h2 { font-size: 1.4em;}
h3 { font-size: 1.3em; }
h4 { font-size: 1.1em; font-family:'Raleway-Bold', Arial, Helvetica, sans-serif;}
h5 { font-size: 1em; font-family:'Raleway-Bold', Arial, Helvetica, sans-serif;}
p  { font-size: 1em; }

ul { margin: 0; padding: 0;}
ul li { list-style: none; }

a {  text-decoration: none; color: #000000; }

/* adapt to mobile screens */
@media screen and (max-width: 576px) {
    section { padding-top: 12%;}
}

.light { font-family:'Raleway-Light', Arial, Helvetica, sans-serif; }
.bold { font-family:'Raleway-Bold', Arial, Helvetica, sans-serif; }
.semiBold {font-family:'Raleway-SemiBold', Arial, Helvetica, sans-serif; }

.grey-bg { background-color: #F2F2F2;}
.blue { color:  #0065FC; }
.light-blue { color: #DEEBFF; }

.w-90 {
    width: 90%;
    margin: auto;
}

.img-responsive {
    max-width: 100%;
    display: block;
    height: auto;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.main-wrapper {
    /* width: 90%; */
    max-width: 1336px;
    margin: auto;
}

input { border: transparent; }

.card { 
    box-shadow: 5px 10px 18px #888888;
}

.box-shadow {
    box-shadow: 5px 10px 18px #888888;
}




/* ================================== */
/* ================================== */
/*     HEADER     */
/* ================================== */
/* ================================== */


header { height: 650px;}

.top-row { 
   /*  background-color: lightyellow; */
    display:flex;
    flex-flow: row wrap;
}

.top-logo { 
   /*  background-color: rgb(231, 191, 198); */
    min-width: 60px; 
    max-width: 100px; 
} 

.top-nav {
/*     background-color: rgb(130, 130, 238); */
    display:flex;
    flex-flow: row wrap;
}
.subscribe, .nav-item{ text-align: center; }

.nav-item.active p, .subscribe p { color: #0065FC; }

/* top-row adapt to mobile screens */
@media screen and (max-width: 576px) {

    .top-row { padding: 5% 0;}
    .top-logo { width:30%;}
    .empty { width:40%; }
    .subscribe { width:30%; }
    .top-nav { width:100%; padding: 2% 0;}
    .nav-item { 
        width:50%; 
        border-bottom:3px solid grey;
    }
    .nav-item.active { border-bottom:3px solid #0065FC;}
}
/* top-row adapt to medium screens */
@media screen and (min-width: 576px) and (max-width: 920px) {

    .top-row { padding: 0;}
    .top-logo { width:30%;}
    .empty { width:55%; }
    .subscribe { width:25%; text-align: right; }
    .top-nav { width:100%; padding: 2% 0;}
    .nav-item { 
        width:50%; 
        border-bottom:3px solid grey;
    }
    .nav-item.active { border-bottom:3px solid #0065FC;}
}
    
/* top-row adapt to desktop screens */
@media screen and (min-width: 920px) {

    header { /* position: absolute; top: 0; */ }

    .top-logo { width:10%;}
    .empty { width:60%; }
    .subscribe { width:10%; order:4; border-top: 3px solid transparent;}
    .top-nav { width:20%;}
    .nav-item { width:50%;border-top: 3px solid transparent; }


    .nav-item.active { border-top:3px solid #0065FC;}
}
/* ======= end header ============== */


.motto { 
    /* border: 2px solid red; */
    padding-top:10%;
    padding-bottom:3%;
}


/* ================================== */
/* --- search-bar --- */
/* ================================== */

.search-bar {
    margin: 3% 0;
    display: flex;
    flex-flow: row nowrap;
    height: 50px;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
}

.input-container { width:70%; }
.input-container input { height:100%; width:100%;}

.searchBar-icon { 

  /* center icon inside */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.searchBar-icon.loc { 
    width:15%;
    background-color:#F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.searchBar-icon.magnifier { background-color: #0065FC; border-radius: 15px;}
.input-container > input[placeholder]{ font-size: 14px;text-align: center;}

/* search bar icons size */
.fas { font-size: 18px;}
.magnifier a > .fas { color: #fff; }
.search-word { color: #fff; }


/* search-bar adapt to mobile screens */
@media screen and (max-width: 576px) {
    /* .searchBar-container { width: 90%; margin:auto; } */
    .search-bar { margin: 3% 0; }
    .searchBar-icon.magnifier { width: 15%; }
    /* 'rechercher' = invisible on mobile */
    .search-word { display: none; }
}

/*  search-bar adapt to medium screens */
@media screen and (min-width: 576px) and (max-width: 919px) {
    .searchBar-container { width: 60%;}
    .searchBar-icon.magnifier { width: 15%; }
    /* 'rechercher' = invisible on mobile */
    .search-word { display: none; }
}
/* top-row adapt to desktop screens */
@media screen and (min-width: 920px) {
    .searchBar-container { width: 33.33%; }
    .search-bar { margin: 2% 0; }
    .searchBar-icon.magnifier { 
        width: 20%;
        border-top-left-radius: unset;
        border-bottom-left-radius: unset; }
    /* magnifier icon = invisible on desktop */
    .d-invisible { display: none !important; }

}


/* ================================== */
/* -- filters : toggle-switch BTNS --- */
/* ================================== */
.filtres {
    display: flex;
    flex-flow: row wrap;
}
.filters-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}


/* toggle-switch container (= label) */
.switch {
    position: relative;
    display: inline-block;
    min-width: 165px;
    height: 50px;
/*     margin-right:2%;
    margin-bottom:2%; */   
}


/* hide original checkbox */
.switch input {
    display: none;
}

input[type="checkbox"] {
    box-sizing: border-box;
    margin: 3px 0 0;
}

/* round inner btn */
.slider.round::before {
    border-radius: 50%;
}

.slider.round {
    border-radius: 34px;
}
.slider::before {
    position: absolute;
    height: 48px;
    width: 48px;
    background-color: #DEEBFF;

    /* icon inside btn */
    font-family: "FontAwesome";
    content: "\f53a";
    color:#0065FC;
    font-size: larger;

    /* center icon inside */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    /* smooth btn transition */
    -webkit-transition: .4s;
    transition: .4s;
}

/* filters icons */
.slider.family::before {
    content: "\f1ae";
}
.slider.heart::before {
    content: "\f004";
}
.slider.dog::before {
    content: "\f6d3";
}

/* anim inner btn slide */
input:checked+.slider::before {
    -webkit-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
}

input:checked+.slider { 
    background-color: #DEEBFF;
    border: 1px solid #0065FC;
    color: red;
}
input:checked+.slider p { text-align: left;}


.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#FFFF;
    border: 2px solid lightgrey;
    -webkit-transition: .4s;
    transition: .4s;
    /* adapt width to txt content */
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}

.slider p {
    font-weight: 400;
    text-align: center;
    margin-left: 60px;
    margin-right: 15px;   
}

/* effect on hover */
.slider:hover {  border:5px solid blue;}



/* ================================== */
/* ================================== */
/* SECTION 1  most popular */
/* ================================== */
/* ================================== */


.sections-wrapper { background-color: violet;}

/* from display tablet and up : section 1/2 = side by side */
@media screen and (min-width: 576px) {
    .sections-wrapper {
        display: flex;
        flex-flow: row-reverse nowrap;
    }
}
/*  adapt to medium screens */
@media screen and (min-width: 576px) and (max-width: 920px) {
    .sections-wrapper { height: 800px;}
    .popular { width: 33%; }
    .housing-cards-wrapper { 
        margin: 0;
        display: flex;
        flex-flow: column wrap;
        height: 100%;
    }
    .housing { width: 66%;}

}
@media screen and (min-width: 920px) {
    .sections-wrapper { height: 625px;}
}





/* align icon with title */
.pop-header i { float: right; } /* to replace by '::before:content'  */

.pop-card {
    height: 140px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    margin: 3% 0;
    border: 5px solid #fff;
    border-radius:25px;
    position: relative;
}
.pop-card figure { 
    width: 40%;
    height:130px;
    position: absolute;
    float: left;
    padding-right: 15px;
    padding-left: 15px;
    overflow: hidden;
    padding: 0 !important;
    margin: 0 !important;
}

.pop-card figure img {  
    min-width:100%;
    max-height:100%; 
    display: block;
    object-fit: cover;
/*     object-position: top; */
    border-radius: 20px 0 0 20px;
}

.pop-card-text {
    height: 130px;
    width: 60%;
    position: absolute;
    right: 0;
    padding-left: 4%;
    background-color: #fff;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.card-title h4 { 
    margin-bottom: 0;
    padding-right: 15%;
}
.card-title p { margin-top: 2%;}

.pop-card-text .star-rating { 
    position: absolute;
    bottom: 0;
}
.fa { font-size: 12px; color:#F2F2F2;}
.fa.checked{ font-weight: 900;color:#0065FC;}



/* ================================== */
/* ================================== */
/* SECTION 2  housing  */
/* ================================== */
/* ================================== */


.housing-card {
    margin: 3% 0;
    height: 200px; 
    max-width: 100%;
    border: 5px solid #fff;
    border-radius:25px;
}

/* img container (figure) */
.housing-pic { 
    height: 120px;
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden;
}

.housing-pic img {
    min-width:100%;
    max-height:100%; 
    display: block;
    object-fit: cover;
    object-position: top;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.housing-card-text {
    height: 65px;
    padding: 2%;
}

.housing-card-text h4, .housing-card-text p {
    margin: 0;
    padding: 0;
}

.housing-card .star-rating { 
    position: relative;
    bottom: 0;
}

/* adapt to mobile screens */
@media screen and (max-width: 576px) {
    .housing { width: 90%; margin: auto;}
}

/* ================================== */
/* ================================== */
/* SECTION 2  activities */
/* ================================== */
/* ================================== */
.activities { width:90%; margin:auto; }
.three-cards-container { background-color: lightpink;}

.activ-card {
    height: 190px;
    width:100%;
    margin: 3% 0;
    border: 5px solid #fff;
    border-radius:25px;
}

.activ-pic { 
    width: 100%;
    height:135px;
    max-height:100%;
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden; 
}

.activ-pic img {
    min-width:100%;
    max-height:100%; 
    display: block;
    object-fit: cover;
    /* object-position: bottom; */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activ-text { height: 45px; position: relative; }
.activ-text h4 { 
    position: absolute;
    display: inline-block;
    margin: 15px;
}

/* activity cards adapt to mobile screens */
@media screen and (max-width: 576px) {
    .all-cards-container { width: 100%; display: flex; flex-flow: column nowrap;}
    /* .three-cards-container { width: 100%;} */
    
}
/*  activity cards  adapt to medium screens */
@media screen and (min-width: 576px) and (max-width: 920px) {

    .all-cards-container { display: flex; flex-flow: column nowrap;}

    .three-cards-container { 
        width: 100%; 
        height:445px; 
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 6%;
    }

    .two-cards-group { width: 49%; display:flex; flex-direction: column;justify-content: space-between; }
    .one-card { width: 49%;}
    /* .two-cards-group.activ-pic { height: 50%;} */

    .activ-card {  margin: 0; }
    .xl { height: 100%; }
    .xl .activ-pic { height: 390px;}
    .l { height: 50%;}
    .l .activ-pic { height: 235px;}
    .m { height: 60%; }
    .s {  height: 40%;}
    .xs {  height: 40%;}

    /* cards content */  
}
/* activity cards adapt to desktop screens */
@media screen and (min-width: 920px) {
    .all-cards-container { display: flex; flex-flow: column nowrap;}
    .three-cards-container { width: 50%;}
    .activ-card { width: 25% ;}
}

/* ========================== */
/* ========================== */
/*  section ACTIV VERSION 2 */
/* ========================== */

.activities-version2 { width: 90%; margin: auto;}

.activities-version2 figure { 
    position:relative;
    border: 5px solid #fff;
    border-radius:25px;
    box-shadow: 5px 10px 18px #888888;
}

.activities-version2 figure img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activities-version2 figure figcaption { margin: 5%; position: absolute;}


@media screen and (max-width: 576px) {
    .activities-version2 figure { height: 190px;  margin: 3% 0; }
    .activities-version2 figure img {  
        height:135px;
        width:100%;
        display: block;
        object-fit: cover;
        overflow: hidden;
    }
    .activities-version2 figure figcaption { margin: 5%; position: absolute;}
}

@media screen and (min-width: 576px) and (max-width:919px ) {
    .second-group { flex-flow: column wrap-reverse;}
}

@media screen and (min-width: 576px)  {

    .activities-version2 figure { 
        width: 47%;
        display: inline-block;
        margin:0; 
        overflow: hidden;
    }

    .pic-group { 
        height: 445px;
        margin-bottom: 5%;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: stretch;
        align-content: space-between;
    }

    .activities-version2 figure img {
        width:100%;
        height:100%;
        object-fit: cover;
        display: block;
        overflow: hidden;
    }
    
    .activities-version2 figure:nth-of-type(1),
    .activities-version2 figure:nth-of-type(4) { height: 100%; }
    .activities-version2 figure:nth-of-type(2) { height: 235px; }
    .activities-version2 figure:nth-of-type(3) { height: 165px; }
    .activities-version2 figure:nth-of-type(5) { height: 195px; }

    .activities-version2 figure figcaption { 
        width: 100%;
        height: 50px;
        position: absolute;
        display: block;
        margin: 0;
        bottom: 0;
        padding: 5%;
        background-color: #fff;
    }  
}


@media screen and (min-width: 1200px) {
    .activities-version2 { 
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
    }

    .pic-group { 
        width: 47%;
        margin:0 auto auto 0;
    }
    .second-group { margin:0 0 0 auto;}
    
    


}




/* ================================== */
/* ================================== */
/* ---- FOOTER --- */
/* ================================== */
/* ================================== */

.footer-list-container { display: flex;
}

/* footer adapt to mobile + medium screens */
@media screen and (max-width: 920) {
    .footer-list-container { 
        flex-direction: column;
    }
}


/* footer adapt to desktop screens */
@media screen and (min-width: 920px) {
    .footer-list-container { 
        flex-direction: row;
    }
}

